version: "3.7"
services:
  nginx:
    build:
      context: docker
      dockerfile: nginx/Dockerfile
    volumes:
      - ./:/app
    ports:
      - "80:80"
    depends_on:
      - php

  php:
    build:
      context: docker
      dockerfile: php/Dockerfile
    volumes:
      - ./:/app

  postgres:
    image: postgres:12.3-alpine
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: app
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres:
